<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Little Lemon Home</title>
	</head>
	<body>
		{% block title %}Little Lemon Home{% endblock %} {%
		block content %}
		<h1>Welcome to Little Lemon API</h1>
		<p>Please navigate to one of the following paths:</p>
		<ul>
			<li><a href="/admin/">Admin</a></li>
			<li><a href="/admin/logout/">Admin Logout</a></li>
			<li><a href="/api/">API Root</a></li>
			<li><a href="/api/logout/">API Logout</a></li>
			<li><a href="/api/menu-items/">Menu Items</a></li>
			<li>
				<a href="/api/menu-items/1/"
					>Menu Item Detail (example)</a
				>
			</li>
			<li><a href="/api/users/">Users</a></li>
			<li>
				<a href="/api/users/1/">User Detail (example)</a>
			</li>
			<li><a href="/api/cart-items/">Cart Items</a></li>
			<li>
				<a href="/api/cart-items/1/"
					>Cart Item Detail (example)</a
				>
			</li>
			<li><a href="/api/orders/">Orders</a></li>
			<li>
				<a href="/api/orders/1/">Order Detail (example)</a>
			</li>
			<li><a href="/auth/">Auth</a></li>
			<li><a href="/auth/token/login/">Auth Token</a></li>
		</ul>
	</body>
</html>
